<section>
  <h2>Advantages</h2>

  <div class="advantage-cards">
    <div class="icon-card">
      <img
        class="icon"
        src="./assets/images/conditions-icon.png"
        alt=""
        loading="lazy"
        decoding="async"
      />
      <p>Early diagnosis without complex tests</p>
    </div>
    <div class="icon-card">
      <img
        class="icon"
        src="./assets/images/chart-icon.png"
        alt=""
        loading="lazy"
        decoding="async"
      />
      <p>Clear and intuitive health visualization</p>
    </div>
    <div class="icon-card">
      <img
        class="icon"
        src="./assets/images/woman-icon.png"
        alt=""
        loading="lazy"
        decoding="async"
      />
      <p>Focus on women’s health</p>
    </div>
    <div class="icon-card">
      <img
        class="icon"
        src="./assets/images/privacy-icon.png"
        alt=""
        loading="lazy"
        decoding="async"
      />
      <p>Complete confidentiality</p>
    </div>
  </div>
</section>
